.amw table {
    border-collapse: collapse;
}

.amw .amw-title-left {
    float: left;
}

.amw .amw-title-right {
    float: right;
}

.amw .amw-title-burger-menu {
    float: right;
}

.amw .amw-mouse-popup {
    visibility: hidden;
    border: 1px solid red;
    position: absolute;
}

.amw canvas {
}
