body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.amw201804 {
    position: relative;
    left: 0;
    top: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    margin: 0;
    padding: 0.5em 0.7em;
    width: auto;
    height: auto;
    float: left;
}

.amw201804 table {
    border-collapse: collapse;
}

.amw201804 .amw201804-title-left {
    float: left;
}

.amw201804 .amw201804-title-middle {
    /* font-weight: bold; */
}

.amw201804 .amw201804-title-right {
    float: right;
}

.amw201804 .amw201804-title-burger-menu {
    cursor: context-menu;
}

/* ---------------------------------------------------------------------- */

#amw201804-mouse-popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #FFFFF0;
    color: blue;
    padding: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.amw201804-mouse-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.amw201804-mouse-popup ul li {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    white-space: nowrap;
}

/* ---------------------------------------------------------------------- */

.amw201804-popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    background: #F0FFFF;
    padding: 0;
}

/* ---------------------------------------------------------------------- */

.amw201804-popup-help {
    padding: 0.5em 1em;
}

.amw201804-popup-help h3 {
    text-align: center;
    margin: 0;
}

.amw201804-popup-help ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.amw201804-popup-help ul li {
    margin-top: 0.5em;
}

.amw201804-popup-help .amw201804-popup-help-button {
    margin-top: 1em;
    text-align: center;
}

/* ---------------------------------------------------------------------- */

.amw201804 canvas {
}

.amw201804-popup-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    padding: 0.5em 0;
    z-index: 200;
}

.amw201804-popup-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.amw201804-popup-menu ul li {
    padding: 0.5em 1em;
    cursor: pointer;
}

.amw201804-popup-menu ul li:hover {
    background: #E1E1E1;
}

.amw201804-popup-menu-click-background {
    z-index: 100;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(185, 178, 178, 0.71); */
}

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
