/* ---------------------------------------------------------------------- */

.amw201805 {
    display: block;
    margin: 0;
    padding: 0.5em 0.7em;
    width: auto;
    height: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.amw201805 .a-title > .a-left {
    float: left;
    position: relative;
}

.amw201805 .a-title .a-left > * {
    float: left;
}

.amw201805 .a-title * {
    vertical-align: bottom;
    height: 1em;
}

.amw201805 .a-title > .a-title-title {
    float: left;
    white-space: nowrap;
    overflow: auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.amw201805 .a-title > .a-title-title > span {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.amw201805 .a-title .a-right {
    float: right;
}

.amw201805 .a-title .a-right > * {
    float: left;
}

.amw201805 .a-title .a-arrow {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
    bottom: 0.2em;
}

.amw201805 .a-title .a-arrow:hover {
    color: #00A000;
}

.amw201805 .a-title .a-left-arrow {
    display: none;
    padding-right: 3px;
}

.amw201805 .a-title .a-right-arrow {
    display: none;
    padding-left: 3px;
}

.amw201805 .a-title .a-burger {
    cursor: context-menu;
    padding-left: 3px;
    position: relative;
    bottom: 0.2em;
}

.amw201805 table td.a-canvas {
    position: relative;
}

.amw201805 table td.a-canvas canvas {
    min-width: 100px;
    min-height: 100px;
    vertical-align: bottom;
}

.amw201805 table td.a-canvas .a-loading-message {
    position: absolute;
    top: 2em;
    left: 0;
    font-size: 1.5em;
    z-index: 1;
    text-align: center;
}

ul.a-title-mouse-popup {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.a-title-mouse-popup > li {
    margin: 0.5em;
    white-space: nowrap;
}

ul.a-title-mouse-popup > li .a-scrollable {
    white-space: nowrap;
    overflow: auto;
    max-height: 9.5em;
}

ul.a-title-mouse-popup > li .a-sequenced {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
}

#AntigenicMapWidget_help {
}

#AntigenicMapWidget_help .a-content {
    height: auto;
    width: auto;
    min-width: 26em;
    min-height: 10em;
    max-width: 26em;
    max-height: 50em;
}

#AntigenicMapWidget_help h3 {
    margin: 0.5em 0;
}

#AntigenicMapWidget_help ul {
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

#AntigenicMapWidget_help p {
    margin-left: 1em;
    width: 25em;
    white-space: normal;
}

/* ---------------------------------------------------------------------- */
/* antigenic-table */

.antigenic-table-movable {
    padding: 0 1em 1em 1em;
    background-color: #DDFFEE;
}

.amw201805-movable-window.antigenic-table-movable .a-window-title {
    padding-top: 1em;
}

.amw201805-movable-window.antigenic-table-movable .a-window-title .a-title {
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
}

.antigenic-table {
    margin: 0.5em;
    border-collapse: collapse;
}

.antigenic-table tr.a-antigen:nth-child(odd) {
    background-color: #C0F0E0;
}

.antigenic-table .a-serum-no {
    text-align: center;
}

.antigenic-table .a-serum-name {
    padding: 0 0.5em;
}

.antigenic-table .a-antigen-no {
    text-align: right;
    padding-right: 0.5em;
}

.antigenic-table .a-antigen-name {
    padding-right: 0.5em;
}

.antigenic-table .a-titer {
    padding: 0 1em;
}

.antigenic-table .a-titer-dontcare {
    color: #A0A0A0;
    text-align: center;
}

.antigenic-table .a-titer-numeric {
    text-align: right;
}

.antigenic-table .a-titer-thresholded {
    text-align: right;
}

.antigenic-table .a-titer-less {
    color: #707070;
}

.antigenic-table .a-titer-more {
    color: #FFA0A0;
}

.antigenic-table .a-titer-dodgy {
    text-align: right;
}

.antigenic-table a:link, .antigenic-table a:visited {
    color: #000040;
}

.antigenic-table tr.a-antigen.a-highlight {
    background-color: #FFF000;
}

.antigenic-table td.a-highlight {
    background-color: #FFF000;
}

/* ---------------------------------------------------------------------- */
/* view-dialog */

.view-dialog-movable {
    background-color: #F8F8F8;
}

.view-dialog-movable > .a-content > table {
    border-collapse: separate;
    border-spacing: 1em;
}

.view-dialog-movable > .a-content > table td.a-label {
    padding-right: 1em;
    vertical-align: top;
}
.view-dialog-movable > .a-content > table td a {
    padding-right: 1em;
    text-decoration: none;
}

.view-dialog-movable > .a-content > table td a.a-current {
    cursor: default;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.view-dialog-movable tr.coloring-legend > td.coloring-legend > table {
}

.view-dialog-movable tr.coloring-legend > td.coloring-legend > table td {
    text-align: center;
    padding-right: 1em;
}

.view-dialog-movable tr.coloring-legend > td.coloring-legend > table tr.a-colors td {
    white-space: nowrap;
}

.view-dialog-movable tr.coloring-legend > td.coloring-legend > table tr.a-colors .a-color {
    color: transparent;
    margin-right: 0.3em;
    font-family: monospace;
}

.view-dialog-movable tr.coloring-aa-pos > td.coloring-aa-pos > a {
    text-decoration: none;
    margin-left: 1em;
}

.amw201805-movable-window.coloring-aa-pos-hint > .a-content {
    margin-top: 1em;
}

.amw201805-movable-window.coloring-aa-pos-hint > .a-content > a {
    text-decoration: none;
    margin: 0 0 0.5em 1em;
}

.amw201805-movable-window.coloring-aa-pos-hint > .a-content > table td.a-pos {
    text-align: right;
    padding-right: 0.2em;
}

.amw201805-movable-window.coloring-aa-pos-hint > .a-content > table td.a-aa {
    text-align: center;
    padding-left: 0.3em;
    border-left: thin solid grey;
}

.amw201805-movable-window.coloring-aa-pos-hint > .a-content > table td.a-count {
    text-align: right;
    padding-right: 0.3em;
}

.view-dialog-movable tr.group-series .a-hint {
    margin: 0;
    font-size: 0.8em;
    color: #C0C0C0;
}

.view-dialog-movable tr.group-series > td.group-series > .a-buttons {
    margin-top: 1em;
}

.view-dialog-movable tr.group-series > td.group-series > .a-buttons > a {
    text-decoration: none;
}

.view-dialog-movable .a-drop-area {
    border: 2px dashed #008000;
    border-radius: 20px;
    cursor: copy;
}

.view-dialog-movable table.a-view-dialog tr.group-series-combined table.a-groups {
    margin-top: 0.5em;
    border-collapse: collapse;
}

.view-dialog-movable table.a-view-dialog tr.group-series-combined table.a-groups td.a-checkbox {
    padding-right: 0.5em;
}

.view-dialog-movable table.a-view-dialog tr.selection-results .a-message {
    margin: 0;
    color: #808080;
}

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
