body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ---------------------------------------------------------------------- */

.amw201805 {
    display: block;
    margin: 0;
    padding: 0.5em 0.7em;
    width: auto;
    height: auto;
}

.amw201805 .a-title > .a-left {
    float: left;
    position: relative;
}

.amw201805 .a-title .a-left > * {
    float: left;
}

.amw201805 .a-title * {
    vertical-align: bottom;
    height: 1em;
}

.amw201805 .a-title > .a-title-title {
    float: left;
    white-space: nowrap;
    overflow: auto;
    text-align: center;
}

.amw201805 .a-title .a-right {
    float: right;
}

.amw201805 .a-title .a-right > * {
    float: left;
}

.amw201805 .a-title .a-arrow {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
    bottom: 0.2em;
}

.amw201805 .a-title .a-arrow:hover {
    color: #00A000;
}

.amw201805 .a-title .a-left-arrow {
    display: none;
    padding-right: 3px;
}

.amw201805 .a-title .a-right-arrow {
    display: none;
    padding-left: 3px;
}

.amw201805 .a-title .a-burger {
    cursor: context-menu;
    padding-left: 3px;
    position: relative;
    bottom: 0.2em;
}

.amw201805 table td.a-canvas {
    position: relative;
}

.amw201805 canvas {
    min-width: 100px;
    min-height: 100px;
    vertical-align: bottom;
}

ul.a-title-mouse-popup {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.a-title-mouse-popup > li {
    margin: 0.5em;
    white-space: nowrap;
}

/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
