body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ---------------------------------------------------------------------- */

.amw201805 {
    display: block;
    margin: 0;
    padding: 0.5em 0.7em;
    width: auto;
    height: auto;
    /* position: relative; */
    /* left: 0; */
    /* top: 0; */
    float: left;
}

.amw201805 table {
    border-collapse: collapse;
}

.amw201805 .a-title .a-left {
    float: left;
}

.amw201805 .a-title .a-middle {
}

.amw201805 .a-title .a-right {
    float: right;
}

.amw201805 .a-title .a-burger {
    cursor: context-menu;
}

.amw201805 table canvas {
    border: 1px solid green;
}

/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
