.amw201805 {
}

/* ---------------------------------------------------------------------- */

#amw201805-mouse-popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    background: #FFFFF0;
    color: blue;
    padding: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

#amw201805-mouse-popup ul.point-info-on-hover {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#amw201805-mouse-popup ul.point-info-on-hover li {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    white-space: nowrap;
}

/* ---------------------------------------------------------------------- */

#amw201805-modal-click-background {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(1, 1, 0, 0.5);
    z-index: 100;
}

/* ---------------------------------------------------------------------- */

.amw201805-burger-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
}

.amw201805-burger-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid blue;
}

.amw201805-burger-menu li {
    position: relative;
    width: 10em;
}

.amw201805-burger-menu li a {
    display: block;
    text-decoration: none;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 0.5em;
    color: black;
}

.amw201805-burger-menu li:hover > a {
    background-color: #F0F0F0;
}

.amw201805-burger-menu li:hover a:hover {
    background-color: #E0E0E0;
}

.amw201805-burger-menu ul.a-level-1 {
    display: none;
    position: absolute;
    top: 0;
    left: 10em;
}

.amw201805-burger-menu li:hover ul.a-level-1 {
    display: block;
}

.amw201805-burger-menu .a-right-arrow {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 0.8em;
    color: #A0A0A0;
}

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
