.amw201805 {
}

/* ---------------------------------------------------------------------- */

#amw201805-mouse-popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
    background: #FFFFF0;
    color: blue;
    padding: 0;
}

#amw201805-mouse-popup ul.point-info-on-hover {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#amw201805-mouse-popup ul.point-info-on-hover li {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    white-space: nowrap;
}

/* ---------------------------------------------------------------------- */

.a-window-shadow {
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.a-unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.a-window-resizer {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 0.5em;
    height: 0.5em;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: nwse-resize;
}

/* ---------------------------------------------------------------------- */

#amw201805-modal-click-background {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    /* background: rgba(1, 1, 0, 0.5); */
    z-index: 900;
}

/* ---------------------------------------------------------------------- */

.amw201805-burger-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.amw201805-burger-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    width: 8em;
}

.amw201805-burger-menu li {
    position: relative;
}

.amw201805-burger-menu li a {
    display: block;
    text-decoration: none;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
    color: black;
}

.amw201805-burger-menu li.a-disabled a {
    color: #D0D0D0;
}

.amw201805-burger-menu li.a-hidden {
    display: none;
}

.amw201805-burger-menu li.a-separator {
    border: 1px solid #C0C0C0;
}

.amw201805-burger-menu li:hover > a {
    background-color: #F0F0F0;
}

.amw201805-burger-menu ul li.a-disabled:hover > a {
    background-color: white;
}

.amw201805-burger-menu li:hover a:hover {
    background-color: #E0E0E0;
}

.amw201805-burger-menu ul.a-level-1 {
    display: none;
    position: absolute;
    top: 0;
    left: 8.1em;
}

.amw201805-burger-menu li:hover ul.a-level-1 {
    display: block;
}

.amw201805-burger-menu .a-right-arrow {
    position: absolute;
    top: 0.5em;
    right: 0.2em;
    font-size: 0.8em;
    color: #A0A0A0;
}

/* ---------------------------------------------------------------------- */

.amw201805-movable-window {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    z-index: 700;
}

.amw201805-movable-window .a-window-title {
    display: grid;
    grid-template-columns: 1em auto 1em;
    background-color: #EEE;
}

.amw201805-movable-window .a-window-title:hover {
    background-color: #EEF;
}

.amw201805-movable-window.a-error .a-window-title {
    background-color: #FEE;
    color: magenta;
}

.amw201805-movable-window .a-title {
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: bold;
    text-align: center;
    cursor: move;
}

.amw201805-movable-window .a-close {
    cursor: pointer;
    text-align: center;
}

.amw201805-movable-window .a-close:hover {
    color: red;
}

.amw201805-movable-window .a-close.a-left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.amw201805-movable-window .a-close.a-right {
    grid-column-start: 3;
    grid-column-end: 4;
}

.amw201805-movable-window .a-content {
    white-space: nowrap;
    overflow: auto;
    height: 40em;
    width: 100%;
    min-width: 10em;
    min-height: 10em;
}

/* ---------------------------------------------------------------------- */

pre.json-highlight {
    padding: 0.5em;
    margin: 0;
}

pre.json-highlight .json-syntax-key {
    color: blue;
}

pre.json-highlight .json-syntax-string {
    color: darkcyan;
}

pre.json-highlight .json-syntax-number {
    color: darkorange;
}

pre.json-highlight .json-syntax-boolean {
    color: brown;
}

pre.json-highlight .json-syntax-null {
    color: magenta;
}

pre.json-highlight .json-syntax-object-id {
    color: green;
}

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
