.av201807-point-style-modifier-dialog {
    background-color: white;
}

.av201807-point-style-modifier-dialog > div.reset-button {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 20px;
    height: 20px;
}

.av201807-point-style-modifier-dialog > div.reset-button > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 9px solid transparent;
    border-left: 9px solid black;
    transform: rotate(-45deg);
}

.av201807-point-style-modifier-dialog > div.reset-button > div:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid black;
    border-radius: 20px 0 0 0;
    top: 6px;
    left: -10px;
    width: 12px;
    height: 12px;
    transform: scaleY(-1) rotate(135deg);
}

.av201807-point-style-modifier-dialog table {
    margin: 0.7em;
    border-collapse: separate;
    border-spacing: 0.5em 0;
}

.av201807-point-style-modifier-dialog tr.title td {
    text-align: center;
    font-size: 0.8em;
}

.av201807-point-style-modifier-dialog td[name="F"] {
    width: 60px;
}

.av201807-point-style-modifier-dialog td[name="O"] {
    width: 60px;
}

.av201807-point-style-modifier-dialog div.fill-color {
    width: 13px;
    height: 13px;
    margin: 3px;
    float: left;
}

.av201807-point-style-modifier-dialog div.fill-color.white {
    width: 7px;
    height: 7px;
    border: 3px dashed #E0E0E0;
}

.av201807-point-style-modifier-dialog div.fill-color.transparent {
    background-image: repeating-linear-gradient(to top left, white , #D0D0D0 4px);
}

.av201807-point-style-modifier-dialog div.outline-color {
    width: 7px;
    height: 7px;
    margin: 3px;
    float: left;
}

.av201807-point-style-modifier-dialog div.outline-color.transparent {
    background-color: transparent;
    border: 3px dashed #D0D0D0;
}

.av201807-point-style-modifier-dialog .av-point-style-slider-vertical {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}

.av201807-point-style-modifier-dialog .av-point-style-slider-vertical input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.av201807-point-style-modifier-dialog td.av-point-style-slider-value {
    text-align: center;
}

.av201807-point-style-modifier-dialog span.av-point-style-slider-value {
    font-size: 0.8em;
}

.av201807-point-style-modifier-dialog td.shape div {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.av201807-point-style-modifier-dialog td.shape div.label {
    font-size: 0.8em;
}

.av201807-point-style-modifier-dialog td.shape div.shape {
    width: 16px;
    height: 16px;
    background: #808080;
    margin-left: 12px;
}

.av201807-point-style-modifier-dialog td.shape div.shape[name="circle"] {
    border-radius: 8px;
}

.av201807-point-style-modifier-dialog td.shape div.shape[name="triangle"] {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #808080;
    background: transparent;
}
