.av201807-window-shadow {
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

/* ---------------------------------------------------------------------- */

.av-unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.av-window-resizer {
    position: absolute;
    right: -2px;
    bottom: 1px;
    z-index: 1;
    width: 1em;
    height: 1em;
    border-right: 5px solid #B0B0B0;
    border-bottom: 5px solid #B0B0B0;
    cursor: nwse-resize;
}

/* ---------------------------------------------------------------------- */

#amw201807-mouse-popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
    background: #FFFFF0;
    color: blue;
    padding: 0;
}

#amw201807-mouse-popup ul.point-info-on-hover {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#amw201807-mouse-popup ul.point-info-on-hover li {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    white-space: nowrap;
}

#amw201807-mouse-popup ul.point-info-on-hover a:link {
    color: blue;
}

#amw201807-mouse-popup ul.point-info-on-hover a:visited {
    color: blue;
}

/* ---------------------------------------------------------------------- */

.av201807-burger-menu-trigger {
    cursor: context-menu;
}

.av201807-burger-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    white-space: nowrap;
}

.av201807-burger-menu li {
    position: relative;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
}

.av201807-burger-menu li .av-burger-menu-arrow {
    float: right;
    position: relative;
    left: 1.3em;
    top: 0;
    color: #C0C0C0;
}

.av201807-burger-menu li:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.av201807-burger-menu li.av-menu-disabled {
    color: grey;
    cursor: default;
}

.av201807-burger-menu li.av-menu-separator {
    cursor: default;
    height: 0;
    border-bottom: 2px solid #C0C0C0;
}

.av201807-burger-menu li.av-menu-disabled:hover {
    background-color: white;
}

.av201807-burger-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    white-space: nowrap;
}

.av201807-burger-menu > li > ul {
    display: none;
    position: absolute;
    top: 0;
    /* left: 7.0em; */
    background-color: white;
    z-index: 1;
}

.av201807-burger-menu > li:hover > ul {
    display: block;
}

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
