.av201807-window-shadow {
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

/* ---------------------------------------------------------------------- */

.av-unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.av-window-resizer {
    position: absolute;
    right: -2px;
    bottom: 0;
    z-index: 1;
    width: 0.5em;
    height: 0.5em;
    border-right: 2px solid #B0B0B0;
    border-bottom: 2px solid #B0B0B0;
    cursor: nwse-resize;
}

/* ---------------------------------------------------------------------- */
/* Local Variables: */
/* eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer)) */
/* End: */
